h1.section-title {
  font-size: 34px;
  font-weight: 500;
  margin: 0 0 10px;
  text-align: center;
  color: $title;
  a{
    color: $title_hover;
    @include simple-transition(300ms);
  }
  a:hover,
  a:focus{
      color: $title;
  }
}