.items-wrapper {
  padding: 35px 0 10px;
  width: 80%;
  margin: 0 auto;
}

.item-box {
  position: relative;
  width: 44%;
  padding: 15px;
  background: $items_bg;
  color: $light_txt;
  margin: 0 3% 30px;
  float: left;
  min-height: 183px;
  @include create-round-corners(3px);
  &:nth-of-type(2n + 1) {
    clear: both;
  }
}

$item_image_width: 100px;
$item_content_margin: 15px;
.item-box .item-box_img {
  width: $item_image_width;
  float: left;
  > a {
    width: $item_image_width;
    img {
      width: $item_image_width;
      height: auto;
      margin: 0;
      float: none;
      @include simple-transition(300ms);
      &:hover {
        @include create-opacity(0.8);
      }
    }
  }
}

.item-box .item-box_content {
  width: calc(100% - 115px);
  display: inline-block;
  margin-left: $item_content_margin;
  h2 {
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 20px;
    line-height: 100%;
    a {
      color: $title;
      display: inline-block;
      border-bottom: 3px solid $title;
      padding-bottom: 10px;
      @include simple-transition(300ms);
      &:hover,
      &:focus {
        color: $title_hover;
        border-bottom: 3px solid $title_hover;
      }
    }
  }
}

.item-box a.more {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

@media (min-width: 768px) and (max-width: 980px) {
  .items-wrapper {
    width: 94%;
  }
}

@media (max-width: 767px) {
  .items-wrapper {
    width: calc(100% - 20px);
    max-width: 400px;
  }

  .item-box {
    width: 100%;
    margin: 0 0 30px;
  }

  .item-box .item-box_img {
    margin-bottom: 20px;
    float: none;
    width: 100%;
    > a,
    > a img {
      margin: 0 auto;
      float: none;
      display: block;
      width: 100%;
      max-width: 300px;
    }
  }

  .item-box .item-box_content {
    width: 100%;
    display: block;
    margin-left: 0;
    h2 {
      text-align: center;
    }
  }

  .item-box a.more {
    position: relative;
    right: auto;
    bottom: auto;
    float: none;
    width: 100%;
    text-align: center;
  }

  .item-box ul.info-tags {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    li {
      float: none;
      margin: 0 3px !important;
    }
  }

}