body,
html {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-size: 13px;
  font-family: Roboto, Arial, Helvetica;
  color: $main_txt;
  background: $main_bg;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}

.section-wrapper {
  width: 100%;
  height: auto;
}

.section-padding {
  padding: 60px 0;
}

.section-subtitle {
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 5px;
  text-align: center;
}

.container::after,
.container::before {
  content: " ";
  display: table;
  clear: both;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.content-wrapper {
  background: $inner_bg;
  border: 1px solid $border;
  @include create-round-corners(8px);
}

.padding-20 {
  padding: 20px;
}

.single-wrap {
  width: calc(100% - 20px);
  margin: 40px auto;
  padding: 20px 15px 0;
  @include create-round-corners(4px);
}

@media (min-width: 768px) and (max-width: 980px) {
  .container {
    width: 720px;
  }

  .single-wrap {
    width: calc(100% - 30px);
    padding: 25px 20px 0;
  }
}

@media (min-width: 981px) {
  .container {
    width: 990px;
  }

  .single-wrap {
    width: calc(100% - 40px);
    padding: 30px 30px 5px;
  }
}
